body {
  background: #000;
  color: #fff;
  padding: 
  px;
  font-family: Block BQ ;
}
h1{
  background: #;
  color: #;
  padding:  50px;
  font-family: Block BQ;
  font-size: 100px;
}

}
.caption{
  margin: 40px;
}
a:visited {
  color: purple;
}
a:active{
  color: green;
}
a:hover{
  color: red;
  text-decoration: underline;
}
table, th, td {
  border: 5px solid white;
  font-family: Arial, sans-serif;
  text-align: left;
}
#game info{
  
}
